---

const { toc } = Astro.locals.starlightRoute;
---

{
	toc && (
		<aside class="right-sidebar-container print:hidden">
			<div class="right-sidebar">
				<slot name="right-sidebar" />
			</div>
		</aside>
	)
}
<div class="main-pane"><slot /></div>

<style>
	@layer starlight.core {
		.main-pane {
			isolation: isolate;
		}
	}
</style>
